@font-face {
    font-family: "Anonymous Pro";
    src: url(fonts/AnonymousPro-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: "Anonymous Pro";
    src: url(fonts/AnonymousPro-Regular.ttf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.main {
    width: 1440px;
    height: 1764px;
    padding: 0px, 150px, 0px, 150px;
    gap: 48px;
}
.header {
    width: 1440px;
    height: 112px;
    background-color: #ffffff;
}
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 1140px;
    height: 100%;
    margin-left: 140px;
    text-decoration: none;
}
.logo-image {
    width: 215px;
    height: 64px;
    color: #121723;
}
.ul-nav-link-right {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 24px;
    width: 262px;
    height: 20px;
    padding: 0;
    margin-right: 0;
    flex-direction: row;
    color: #121723;
    font-family: "Anonymous Pro Regular", "Anonymous Pro";
}
.header ul {
    list-style-type: none;
}
.header a{
    text-decoration: none;
    color: #121723
}
.ul-nav-links-right li a {
    color: #121723;
    font-family: "Anonymous Pro Regular", "Anonymous Pro";
    text-decoration: none;
}
.main {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    flex-direction: column;
}
.card {
    background-color: white/200;
    display: flex;
    align-items: center;
    width: 1140px;
    padding: 32px, 0px, 32px, 0px;
    gap: 48px;
    border-radius: 50px;
    padding: 48px;
}
.card-img {
    width: 1044px;
    height: 600px;
    border-radius: 50px, 50px, 0px, 0px;
}
.card-title {
    font-family: "Anonymous Pro Regular", "Anonymous Pro";
    font-weight: 400;
    font-size: 48px;
}
.card-title-bottom {
    font-family: "Anonymous Pro Regular", "Anonymous Pro";
    font-weight: 400;
    font-size: 36px;
}
.card-info {
    display: flex;
    flex-grow: 1;
    gap: 32px;
    flex-direction: row;
}
.card-info-text {
    font-family: "Anonymous Pro Regular", "Anonymous Pro";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 20px;
    color: #121723;
}
.card-table {
    font-family: "Anonymous Pro Regular", "Anonymous Pro";
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    font-size: 30px;
    color: #121723;
    gap: 24px;
}
.card-table tr {
    display: block;
    border-bottom: 1px solid black;
}
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #121723;
    width: 100%;
    height: 142px;
}
.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: white 1px solid;
    padding: 33px 0;
}
.logo-footer {
    background-color: #121723;
    padding: 0;
    width: 898px;
}
.ul-footer-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 24px;
    width: 262px;
    height: 20px;
    font-family: "Anonymous Pro Regular", "Anonymous Pro";
}
.ul-footer-links li a {
    color: white;
    font-family: "Anonymous Pro Regular", "Anonymous Pro";
    text-decoration: none;
}
.footer-bottom {
    font-family: "Anonymous Pro Regular", "Anonymous Pro";
    font-size: 16px;
    font-weight: 700;
    color: #a1a6b4;
}

.footer-line {
    width: 1160px;
    text-align: center;
    margin-top: 15px;
}

.sneakers:hover {
    transform: translate(0px, -10px);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
@media (max-width: 768px) and (orientation: portrait) and(hover: none) {
    .header {
        flex-direction: column;
        font-size: 36px;
    }
    .sneakers-cards {
        flex-direction: column-reverse;
        font-size: 36px;
    }
}
