@font-face {
    font-family: "Anonymous Pro";
    src: url(fonts/AnonymousPro-Bold.ttf);
    font-weight: 700;
}

@font-face {
  font-family: "Anonymous Pro";
  src: url(fonts/AnonymousPro-Regular.ttf);
}
.header {
    width: 1440px;
    height: 110px;
    background-color: #FFFFFF;
}
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 100%;
}
.nav-link-left {
    height: 63.24px;
    margin-left: 140px;
    color: #121723;
}
.ul-nav-link-right {
    margin-right: 140px;
}
.ul-nav-link-right {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 20px;
}
.ul-nav-links-right li a {
    color: #121723;
    font-family: "Anonymous Pro Regular", "Anonymous Pro";
    text-decoration: none;
}
.main{
    background-color: #F1F1F1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.h1 {
    height: 48px;
    width: 1161px;
    font-family: 'Anonymous Pro Bold', 'Anonymous Pro';
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
}
.sneakers-cards {
    font: 'Anonymous Pro';
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1161px;
    height: 1340px;
    background-color: #F1F1F1;
    flex: 1 0 auto;
    gap: 24px;
}
.sneakers {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    width: 371px;
    border-radius: 12px;

}
.image-card {
    width: 100%;
    height: 100%;
    max-height: 370px;
    object-fit: cover;
    object-position: center;
}
.card-text {
    font-family: "Anonymous Pro Regular", "Anonymous Pro";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    margin: 0;
}
.card-title {
    font-family: 'Anonymous Pro Bold', 'Anonymous Pro';
    font-weight: 700;
    font-size: 26px;
    color: #121723;
}
.card-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    gap: 10px;
    margin: 0;
    background: #FFFFFF;
    min-height: 76px;
    font: "Anonymous Pro";
    padding: 20px;
    border-radius: 12px;
}
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #121723;
    width: 100%;
    height: 142px;
}
.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: white 1px solid;
    padding: 33px 0;
}
.logo-footer {
    background-color: #121723;
    padding: 0;
    width: 898px;  
}
.ul-footer-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 24px;
    width: 262px;
    height: 20px;
    font-family: 'Anonymous Pro Regular', 'Anonymous Pro';
}
.ul-footer-links li a {
    color: white;
    font-family: "Anonymous Pro Regular", "Anonymous Pro";
    text-decoration: none;
}
.footer-bottom {
    font-family: "Anonymous Pro Regular", "Anonymous Pro";
    font-size: 16px;
    font-weight: 700;
    color: #a1a6b4;
}
@media (max-width: 768px) and (orientation: portrait) and(hover: none) {
    .header {
        flex-direction: column;
        font-size: 36px;
    }
    .sneakers-cards {
        flex-direction: column-reverse;
        font-size: 36px;

    }
}